.container{
    min-width: 100%;
    padding: 0 1rem;
    font-family: roboto;
    box-shadow: 1px 4px 2px #ececec;
}
.header{
    padding: 1rem 0;
    border-bottom: 2px solid #8eddf6;
    color: #c3b9b9;
    font-weight: bold;
}
.content{
    padding: 1rem;
    min-height: 122px;
    height: 122px;
    max-height: 122px;
    overflow: auto;
}