.container{
    padding: 4rem 4rem;
    display: flex;
    justify-content: space-between;
}
.item{    
    height: 600px;
}
.informationContainer{
    flex-basis: calc(80% - 1rem);  
    display: flex;
    justify-content: space-between;
}
.countriesContainer{
    flex-basis: calc(20% - 1rem);        
}
.informationColumn{    
    flex-basis: calc(50% - 1rem);            
}
.informationColumn > *{
    margin-bottom: 2rem;
}
